html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Header styles */
header {
  background-color: rgb(3, 3, 3);
  padding: 1rem 0;
  height: 57px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  margin-top: -13px;
}

.nav-item {
  padding: 0 1rem;
  vertical-align: middle;
}

.nav-item a {
  color: white;
  text-decoration: none;
  font-family: "BPG Banner SuperSquare", sans-serif;
  font-weight: 75px;
  vertical-align: middle;
}

.nav-item a:hover {
  font-size: 20px;
  color: red;
}

.search-input {
  margin-left: 93px;
  width: 100%;
  padding: 10px;
  border-radius: 70px;
  outline: none;
  transition: box-shadow 0.3s ease;
  vertical-align: middle;
}

.search-input:hover {
  box-shadow: 0 2px 5px rgba(236, 16, 16, 0.863);
}

.carousel-item img {
  height: 570px;
}
.carousel-item h5 {
  color: rgb(255, 255, 255);
  font-family: "BPG Banner SuperSquare", sans-serif;
}
.carousel-item p {
  color: red;
  font-weight: 700;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  .nav-list {
    flex-direction: column;
    align-items: flex-start;
  }
  .nav-item {
    padding: 0.5rem 0;
  }
}
.Email {
  width: 227px;
  display: flex;
  flex-direction: column;
  margin-left: 35px;
}

.Phone {
  width: 227px;
  display: flex;
  flex-direction: column;
  margin-left: 35px;
}

.Location {
  width: 227px;
  display: flex;
  flex-direction: column;
  margin-left: 35px;
}

.contacts {
  width: 1150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 83px;
}

.circle img {
  width: 93px;
  height: 97px;
  border-radius: 50%;
  border: 10px;
  border-color: aqua;
  display: flex;
  justify-content: center;
  margin-left: 73px;
}

.circle :hover {
  width: 135px;
  height: 135px;
}

.contacts h2 {
  font-size: 23px;
  font-weight: 700;
  color: rgb(78, 77, 84);
  display: flex;
  justify-content: center;
}
.contacts h4 {
  font-size: 17px;
  font-weight: 700;
  color: rgb(153, 153, 154);
  display: flex;
  justify-content: center;
}

.line {
  border-bottom: 1px solid rgb(133, 136, 136);
  width: 1177px;
  margin: auto;
}

.information1 {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}
.information1 .text {
  display: inline-block;
  vertical-align: middle;
  width: 700px;
}
.information1 .text span {
  color: red;
}
.information1 .text h1 {
  color: rgb(4, 71, 160);
}
.information1 .text p {
  color: rgb(9, 111, 243);
}
.information1 img {
  display: inline-block;
  vertical-align: middle;
  width: 370px;
  height: 370px;
}

.line1 {
  border-bottom: 1px solid rgb(24, 119, 243);
  width: 1177px;
  margin: auto;
}

.ul-1 {
  display: inline-block;
  margin-left: 130px;
  margin-top: 35px;
}

.ul-2 {
  display: inline-block;
  margin-left: 130px;
  margin-top: 35px;
}

.ul-3 {
  display: inline-block;
  margin-left: 130px;
  margin-top: 35px;
}

.p {
  display: inline-block;
  margin-left: 700px;
  margin-top: -3px;
  font-size: 45px;
  font-weight: 400;
}

li {
  width: 33px;
  height: 14px;
  margin-bottom: 13px;
}/*# sourceMappingURL=global.css.map */